@media screen and (min-width:240px){
    #logo{
        display:flex;
        height:1.8em;
    }
    .lang{
        height:2em;
        cursor:pointer;
        margin:0 1em;
    }
    #sara-face{
        width:10em;
        margin-top:6em;
    }
    @keyframes sara{
        from{
            width:0;
        }
        to{
            width:10em;
        }
    }
    #shishas{
        height:45em;
    }
    #bebidas{
        height:190em;
    }
    .carta{
        font-size:.7em;
    }
    footer > a{
        font-size:1.3em;
    }
}
@media screen and (min-width:320px){
    #logo{
        height:2.5em;
    }
    .lang{
        height:2.5em;
    }
    #sara-face{
        width:15em;
    }
    @keyframes sara{
        from{
            width:0;
        }
        to{
            width:15em;
        }
    }
    #shishas{
        height:50em;
    }
    #bebidas{
        height:200em;
    }
    .carta{
        font-size:1em;
    }
    footer > a{
        font-size:1.5em;
    }
}
@media screen and (min-width:360px){
    #shishas{
        height:45em;
    }
    #bebidas{
        height:192em;
    }
}
@media screen and (min-width:375px){
    #logo{
        height:2.6em;
    }
    .lang{
        height:3em;
        margin-left:2em;
    }
    #shishas{
        height:50em;
    }
    #bebidas{
        height:205em;
    }
    .carta{
        font-size:1.2em;
    }
    footer > a{
        font-size:1.7em;
    }
}
@media screen and (min-width:450px){
    #shishas{
        height:45em;
    }
    #bebidas{
        height:193em;
    }
}
@media screen and (min-width:768px){
    #logo{
        height:4em;
    }
    .lang{
        height:4em;
        margin-left:5em;
    }
    #sara-face{
        width:25em;
    }
    @keyframes sara{
        from{
            width:0;
        }
        to{
            width:25em;
        }
    }
    #shishas{
        height:47em;
    }
    #bebidas{
        height:197em;
    }
    .carta{
        font-size:2em;
    }
    footer > a{
        font-size:2em;
    }
}
@media screen and (min-width:950px){
    #shishas{
        height:44em;
    }
    #bebidas{
        height:182em;
    }
}
@media screen and (min-width:1280px){
    #logo{
        height:5em;
    }
    .lang{
        height:5em;
        margin-left:5em;
    }
    #shishas{
        height:41em;
    }
    #bebidas{
        height:178em;
    }
    .carta{
        width:100%;
        font-size:2em;
    }
    .precio{
        padding:.2em;
        font-size:1em;
    }
    footer > a{
        font-size:3em;
    }
}