@media screen and (min-width:120px){

/* MAIN */

    #main-title{
        font-size:.5em;
    }
    #main-text{
        font-size:.5em;
    }

/* SECOND VIEW */

    #second-view_text > h2, #third-view_text > h2{
        font-size:.6em;
    }
    #second-view_text > p, #third-view_text > p{
        font-size:.3em;
    }

/* CREDITS */

    .credits-p{
        font-size:.4em;
    }
}
@media screen and (min-width:200px){

/* SECOND VIEW */
    
    #second-view_text > p, #third-view_text > p{
            font-size:.5em;
        }

/* SARA MONTIEL */


    #first-sara_text > h3{
        font-size:.5em;
    }
    #first-sara_text > p{
        font-size:.3em;
    }
    #homenaje{
        font-size:.4em;
    }
    #last-sara_text > h3, #last-sara_text > p{
        font-size:.5em;
        text-align:center;
        margin:1em;
    }

/* INSTAGRAM */

    #ig-text_container > h3{
        font-size:2.2em;
    }
    #ig-text_container > p{
        font-size:1.2em;
    }
    #ig-text_container > p > a{
        font-size:1.4em;
    }

/* SHIRTS */
    #text-shirts > H4 , #text-shirts > p{
        font-size:1em;
    }
    .camis{
        height:4em;
    }

/* LOCATION */

    #location-text-container > h3{
        font-size:.8em;
    }
    #location-text-container > p{
        font-size:.7em;
    }

/* CREDITS */

    .credits-p{
        font-size:.6em;
    }

}
@media screen and (min-width:240px){

/* MAIN */

    #main-title, #main-text{
        margin:0 1.5em 0 1.5em;
    }
    #main-title{
        font-size:.9em;
    }
    #main-text{
        font-size:1em;
        margin-top:.2em;
    }

/* SECOND VIEW */

    #second-view_text > p, #third-view_text > p{
        font-size:.6em;
    }

/* SARA MONTIEL */


    #first-sara_text > h3{
        font-size:.6em;
    }
    #last-sara_text > h3{
        font-size:.8em;
    }

/* INSTAGRAM */

    #ig-text_container > h3{
        font-size:2.5em;
    }
    #ig-text_container > p{
        font-size:1.4em;
    }
    #ig-text_container > p > a{
        font-size:1.6em;
    }

/* SHIRTS */
    #text-shirts > H4 , #text-shirts > p{
        font-size:1.2em;
    }

/* LOCATION */

    #location-text-container > h3{
        font-size:.9em;
    }
    #location-text-container > p{
        font-size:.8em;
    }

/* CREDITS */

    .credits-p{
        font-size:.8em;
    }
}
@media screen and (min-width:320px){

/* MAIN */

    #main-title{
        font-size:1.3em;
        margin-bottom:.5em;
    }
    #main-text{
        font-size:1.1em;
    }
    #carta_container{
        height:5em;
        bottom:1em;
    }
    #carta{
        width:5em;
        height:5em;
    }

/* BUTTONS */

    #buttons{
        bottom:2em;
    }

/* SECOND VIEW */

    #second-view_text >h2{
        font-size:1.1em;
    }
    #third-view_text >h2{
        font-size:.9em;
    }

/* SARA MONTIEL */


    #first-sara_text > h3{
        font-size:.9em;
    }
    #first-sara_text > p{
        font-size:.7em;
    }
    #homenaje{
        font-size:.8em;
    }
    #sara-photos_container{
        flex-direction:row;
    }
    .sara-photos{
        height:12em;
    }
    .sara-photo1{
        margin-right:1em;
    }
    .sara-photo2{
        margin-left:1em;
    }
    #last-sara_text > h3{
        font-size:.9em;
    }
    #last-sara_text > p{
        font-size:.6em;
    }
    #youtube1, #youtube2{
        min-width:8em;
        max-width:15em;
        height:8em;
    }

/* SHIRTS */

    #text-shirts > H4 , #text-shirts > p{
        font-size:1.2em;
    }
    .camis{
        height:6em;
    }
    #cami1{
        margin-left:1em;
    }
    #cami2{
        margin-right:1em;
    }

/* LOCATION */

    #location-text-container > h3{
        font-size:1.2em;
    }
    #location-text-container > p{
        font-size:.9em;
    }
    #map{
        max-width:20em;
        height:12em;
    }
}
@media screen and (min-width:360px){

/* MAIN */

    #main-title{
        font-size:1.7em;
    }
    #main-text{
        font-size:1.3em;
    }
    #carta_container{
        height:5em;
        bottom:1em;
    }
    #carta{
        width:5em;
        height:5em;
    }

/* BUTTONS */

    #buttons{
        height:5em;
        bottom:1em;
    }
    #play, #pause{
        width:5em;
        height:5em;
    }
    #play:hover, #pause:hover{
        width:5.2em;
        height:5.2em;
    }

/* SECOND VIEW */

    #second-view_text, #third-view_text{
        margin:0 .6em .6em .6em;
    }

/* LOCATION */

    #location-text-container > h3{
        font-size:1.5em;
    }
    #location-text-container > p{
        font-size:1.1em;
    }

/* CREDITS */

    .credits-p{
        font-size:1em;
    }
}
@media screen and (min-width:375px){

/* MAIN */

    #main-title{
        font-size:2em;
    }
    #main-text{
        font-size:1.4em;
    }
    #carta_container{
        height:6em;
    }
    #carta{
        width:6em;
        height:6em;
    }

/* SARA MONTIEL */

    #first-sara_text > h3{
        font-size:1.1em;
    }
    #last-sara_text > h3{
        font-size:1.2em;
    }
    #last-sara_text > p{
        font-size:.7em;
        margin-top:.5em;
    }
    #youtube1, #youtube2{
        min-width:12em;
        max-width:16em;
        height:9em;
        margin:.5em;
    }

/* SHIRTS */

    .camis{
        height:8em;
    }

/* LOCATION */

    #location-text-container > h3{
        font-size:1.6em;
    }
    #map{
        max-width:25em;
        height:13em;
    }

/* CREDITS */

    .credits-p{
        font-size:1.1em;
    }
}
@media screen and (min-width:480px){

/* MAIN */

    #main-title{
        font-size:1.3em;
        margin-bottom:.5em;
    }
    #main-text{
        font-size:1.1em;
    }
    #carta_container{
        height:5em;
        bottom:.5em;
    }
    #carta{
        width:5em;
        height:5em;
    }

/* BUTTONS */

    #buttons{
        height:4em;
        bottom:2em;
    }
    #play, #pause{
        width:4em;
        height:4em;
    }
    #play:hover, #pause:hover{
        width:4.2em;
        height:4.2em;
    }

/* SECOND VIEW */

    #third-view{
        height:30em;
    }
    #second-view_container, #third-view_container{
        flex-flow:nowrap row;
        margin:0 .5em .5em 1em;
        padding-top:1em;
    }
    #second-view_text{
        flex:1;
        order:0;
    }
    #third-view_text{
        margin-right:3em;
        flex:1;
        order:1;
    }
    #second-view_text > h2, #third-view_text > h2{
        font-size:1.3em;
    }
    #second-view_text > p, #third-view_text > p{
        font-size:.7em;
    }
    #shisha-boy, #shisha-bar{
        margin:5em 2em 5em 2em;
        min-width:8em;
        max-width:17em;
        height:10em;
    }
    #shisha-boy{
        flex:1;
        order:1;
    }
    #shisha-bar{
        flex:1;
        order:0;
    }

/* SARA MONTIEL */

    #first-sara_container{
        flex-direction:row;
    }
    #first-sara_text{
        margin:1em;
    }
    #first-sara_text > h3{
        font-size:1.2em;
    }
    #first-sara_text > p{
        font-size:.9em;
    }
    #homenaje{
        font-size:1em;
    }
    #sara-photos_container{
        display:flex;
        flex-direction:column;
    }
    .sara-photos{
        margin:1em;
    }
    #photos-sara_local{
        background-image:url("../../assets/images/cuadros-sara.webp");
    }
    #last-sara_container{
        flex-direction:row;
    }
    #last-sara_text{
        margin:0 1em 0 1em;
    }
    #last-sara_text > h3{
        font-size:1.4em;
    }
    #last-sara_text > p{
        font-size:.8em;
    }
    #last-sara_video{
        margin:0 1em 0 0;
    }
    #youtube1, #youtube2{
        min-width:10em;
        max-width:12em;
        margin:.5em;
    }

/* INSTAGRAM */

    #ig_container{
        flex-direction:row;
    }
    #shisha-girl{
        flex:.5;
        height:15em;
        margin-left:2em;
    }
    #ig-text_container{
        flex:1;
        margin:0 2em 0 2em;
    }
    #ig-text_container > h3{
        font-size:5em;
    }
    #ig-text_container > p{
        font-size:1.5em;
    }
    #ig-text_container > p > a{
        font-size:1.6em;
    }

/* SHIRTS */

    #text-shirts > H4 , #text-shirts > p{
        font-size:1.4em;
    }

/* LOCATION */

    #location{
        background-image:url("../../assets/images/mapa-mundi.webp");
    }
    #location_container{
        flex-direction:row;
    }
    #location-text-container{
        margin:0 1em 0em 2em;
        flex:0;
    }
    #location-text-container > h3{
        font-size:1.7em;
    }
    #location-text-container > p{
        font-size:1.3em;
    }
    #map{
        max-width:25em;
        margin:0 2em 0em 1em;
        height:13em;
        flex:1;
    }

/* CREDITS */

    .credits-p{
        font-size:1.3em;
    }
}
@media screen and (min-width:640px){

/* MAIN */

    #main-title{
        font-size:1.7em;
    }
    #main-text{
        font-size:1.3em;
    }

/* SECOND VIEW */

    #second-view_text > h2, #third-view_text > h2{
        font-size:1.5em;
    }
    #second-view_text > p, #third-view_text > p{
        font-size:.9em;
    }

/* SARA MONTIEL */

    #first-sara_text{
        flex:1;
        margin:2em;
    }
    #first-sara_text > h3{
        font-size:1.5em;
    }
    .sara-photos{
        height:20em;
        margin:2em;
    }
    .sara-photo2{
        display:none;
    }
    #last-sara_text > h3, #last-sara_text > p{
        margin:.5em;
    }
    #last-sara_text > h3{
        font-size:1.8em;
    }
    #last-sara_text > p{
        font-size:.9em;
        margin-top:0em;
    }
    #youtube1, #youtube2{
        min-width:12em;
        max-width:18em;
        height:9em;
        margin:.5em;
    }

/* INSTAGRAM */

    #shisha-girl{
        height:20em;
    }

/* CREDITS */

    .credits-p{
        font-size:1.5em;
    }
}
@media screen and (min-width:768px){

/* MAIN */

    #first-view{
        background-image: url("../../assets/images/conchaBig1.webp");
    }
    #main-title{
        font-size:2.5em;
    }
    #main-text{
        font-size:1.8em;
    }
    #carta_container{
        height:8em;
        bottom:2em;
    }
    #carta{
        width:8em;
        height:8em;
    }

/* BUTTONS */

    #buttons_container{
        background-image: url("../../assets/images/conchaBig1.webp");
    }

    #buttons{
        height:7em;
        bottom:3em;
    }
    #play, #pause{
        width:7em;
        height:7em;
    }
    #play:hover, #pause:hover{
        width:7.2em;
        height:7.2em;
    }
    #play{
        margin-left:3em;
    }
    #pause{
        margin-right:3em;
    }
    
/* SECOND VIEW */
    
    #shisha-boy, #shisha-bar{
        margin:0 3em 0 3em;
        height:12em;
        min-width:15em;
        max-width:20em;
    }

/* THIRD VIEW */
    
    #third-view{
        background-image: url("../../assets/images/conchaBig1.webp");
    }

/* SARA MONTIEL */

    #first-sara_text > p{
        font-size:1em;
    }
    #homenaje{
        font-size:1.1em;
    }
    .sara-photos{
        height:25em;
    }
    #last-sara_text > p{
        font-size:1em;
    }
    #youtube1, #youtube2{
        min-width:16em;
        max-width:20em;
        height:12em;
        margin-right:2em;
    }

/* INSTAGRAM */

    #instagram{
        background-image:url("../../assets/images/igBackgroundBig.webp");
    }

/* SHIRTS */

    #text-shirts > H4 , #text-shirts > p{
        font-size:2em;
    }
    .camis{
        height:10em;
    }

/* LOCATION */

    #location-text-container{
        flex:1;
    }
    #location-text-container > h3{
        font-size:2em;
    }
    #location-text-container > p{
        font-size:1.4em;
    }

}
@media screen and (min-width:812px){

/* MAIN */

    #main-title{
        font-size:2em;
    }
    #main-text{
        font-size:1.5em;
    }
    #carta_container{
        height:5em;
    }
    #carta{
        width:5em;
        height:5em;
    }

/* BUTTONS */

    #buttons{
        height:4em;
        bottom:2em;
    }
    #play, #pause{
        width:4em;
        height:4em;
    }
    #play:hover, #pause:hover{
        width:4.2em;
        height:4.2em;
    }
}
@media screen and (min-width:925px){

/* MAIN */

    #main-title{
        font-size:3em;
    }
    #main-text{
        font-size:2.2em;
    }
    #carta_container{
        height:8em;
        bottom:0em;
    }
    #carta{
        width:6em;
        height:6em;
    }

/* BUTTONS */

    #buttons{
        height:7em;
        bottom:1em;
    }
    #play, #pause{
        width:7em;
        height:7em;
    }
    #play:hover, #pause:hover{
        width:7.2em;
        height:7.2em;
    }
    #play{
        margin-left:3em;
    }
    #pause{
        margin-right:3em;
    }

/* INSTAGRAM */

    #shisha-girl{
        height:30em;
    }

/* LOCATION */

    #map{
        max-width:35em;
        height:15em;
    }
}
@media screen and (min-width:1280px){

/* MAIN */
    #main-title{
        font-size:3.5em;
    }
    #main-text{
        font-size:2.5em;
    }
    
/* SECOND VIEW */
    
    #second-view_text, #third-view_text{
        flex:.5;
    }
    #second-view_text > h2, #third-view_text > h2{
        font-size:2em;
    }
    #second-view_text > p, #third-view_text > p{
        font-size:1.3em;
    }
    #shisha-boy, #shisha-bar{
        margin-right:4em;
        flex:1;
    }

/* SARA MONTIEL */

    #first-sara_text{
        margin-left:4em;
        margin-top:6em;
    }
    #first-sara_text > h3{
        font-size:2.8em;
    }
    #first-sara_text > p{
        font-size:1.1em;
    }
    #homenaje{
        font-size:1.4em;
    }
    .sara-photos{
        margin-right:4em;
    }
    #last-sara_text{
        width:60%;
    }
    #last-sara_text > h3{
        font-size:2.1em;
    }
    #last-sara_text > p{
        font-size:1.3em;
    }
    #youtube1, #youtube2{
        min-width:20em;
        width:25em;
        height:14em;
    }

/* INSTAGRAM */

    #shisha-girl{
        max-width:20em;
        margin:0 5em 0 5em;
    }
    #ig-text_container{
        margin-right:5em;
    }
    #ig-text_container > h3{
        font-size:6em;
    }
    #ig-text_container > p{
        font-size:2em;
        text-align:center;
    }
    #ig-text_container > p > a{
        font-size:1.6em;
    }

/* SHIRTS */

    #text-shirts > H4 , #text-shirts > p{
        margin:0 2em 0 2em;
    }
    #text-shirts > p{
        margin-top:.5em;
    }

/* LOCATION */

    #location-text-container{
        margin:0 1em 0em 5em;
    }
    #map{
        margin:0 5em 0em 1em;
    }
}
@media screen and (min-width:1500px){

/* MAIN */

    #main-title{
        font-size:4em;
    }
    #main-text{
        font-size:3em;
    }
    #carta_container{
        height:10em;
        bottom:3em;
    }
    #carta{
        width:10em;
        height:10em;
    }

/* BUTTONS */

    #buttons{
        height:9em;
    }
    #play, #pause{
        width:9em;
        height:9em;
    }
    #play:hover, #pause:hover{
        width:9.2em;
        height:9.2em;
    }
    #play{
        margin-left:4em;
    }
    #pause{
        margin-right:4em;
    }
}