*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
    user-select:none;
    resize: none;
}
@font-face {
    font-family:"Audiowide";
    src: url("../../assets/fonts/Audiowide-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family:"Poppins-Bold";
    src: url("../../assets/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: bold;
    }
@font-face {
    font-family:"Poppins";
    src: url("../../assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
        font-family:"Instagram";
        src: url("../../assets/fonts/instagram.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        }
.title{
    font-family:"Poppins-Bold", Helvetica, sans-serif;
    text-shadow:10px 10px 10px #000, 10px 1px 10px #000, 1px 1px 10px #000;
    color:#f3f3f3;
}
.text{
    font-family:"Poppins", Helvetica, sans-serif;
    text-shadow:10px 10px 10px #000, 10px 1px 10px #000, 1px 1px 10px #000;
    color:#f3f3f3;
}

/* SCROLL PERSONALIZADO */

body::-webkit-scrollbar {
	width:7px;
    background-color:#000;
}
body::-webkit-scrollbar-thumb {
	background: #78188b;
	border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
	background: #b521b5;
}

/* MAIN */

main{
    overflow:hidden;
}
#first-view{
    width:100%;
    height:100vh;
    background-image: url("../../assets/images/conchaSmall1.webp");
    background-size:cover;
    background-attachment:fixed;
    overflow:hidden;
}
#title-text_container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    width:100%;
    height:100%;
}
#main-title, #main-text{
    position:relative;
    text-align:center;
    min-width:1em;
    margin:1em;
    z-index:100;
}
#main-title{
    font-size:.1em;
    animation:main-title 3s;
}
@keyframes main-title{
    from{
        margin-top:-50em;
    }
    to{
        margin-top:0em;
    }
}

#main-text{
    font-size:.1em;
}
#carta_container, #carta{
    display:flex;
    position:fixed;
    justify-content:center;

}
#carta_container{
    width:100%;
    height:3em;
    bottom:1em;
}
#carta{
    width:3em;
    height:3em;
    animation:carta 3s;
    z-index:50;
}
@keyframes carta{
    from{
        margin-left:-100em;
    }
    to{
        margin-left:0;
    }
}

/* BUTTONS */

#buttons_container{
    width:100%;
    height:10em;
    position:relative;
    z-index:10;
    background-image: url("../../assets/images/conchaSmall1.webp");
    background-size:cover;
    background-attachment:fixed;
}
#buttons, #play, #pause{
    display:flex;
    position:absolute;
}
#buttons{
    height:3em;
    width:100%;
    bottom:1em;
}
#play, #pause{
    width:3em;
    height:3em;
    animation:buttons 5s;
}
@keyframes buttons{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
#play:hover, #pause:hover{
    cursor:pointer;
    width:3.2em;
    height:3.2em;
}
#play{
    margin-left:1em;
}
#pause{
    right:0;
    margin-right:1em;
}

/* SECOND VIEW & THIRD VIEW */

#second-view{
    width:100%;
    height:15em;
    background-image:url("../../assets/images/fondo1.webp");
    background-size:cover;
    overflow:hidden;
    position:relative;
    z-index:60;
}
#third-view{
    background-image: url("../../assets/images/conchaSmall1.webp");
    background-size:cover;
    background-attachment:fixed;
    width:100%;
    height:20em;
    overflow:hidden;
    position:relative;
    z-index:60;
}
.mostrar{
    opacity:0;
    transition:all 1500ms;
}
.mostrarArriba{
    animation:mostrarArriba 2000ms;
}
@keyframes mostrarArriba{
    from{
        transform:translateY(10em);
    }
    to{
        transform:translateY(0);
    }
}
#second-view_container, #third-view_container{
    display:flex;
    flex-flow:nowrap column;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
}
#second-view_text, #third-view_text{
    margin:0 .5em .5em .5em;
    flex:1;
    order:1;
    text-align:center;
}
#second-view_text > h2, #third-view_text > h2{
    display:inline-block;
    padding:.6em;
    font-size:.3em;
}
#third-view_text > p{
    background-color:#000a;
}
#second-view_text > p, #third-view_text > p{
    font-size:.1em;
}
#third-view_text > p{
    margin-top:1em;
}
#shisha-boy, #shisha-bar{
    margin:1em 0 .5em 0;
    border:5px solid #fff0c9;
    flex:1;
    order:0;
    min-width:10em;
    max-width:17em;
    height:8em;
}

/* SARA MONTIEL */

#sara-montiel{
    width:100%;
    height:80em;
    position:relative;
    z-index:60;
    background-color:#380738;
}
#first-sara_container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:30em;
    overflow:hidden;
}
#first-sara_text{
    text-align:center;
    margin:1em;
}
#first-sara_text > h3{
    font-size:.1em;
}
#sara-montiel_span{
    color:#750688;
    animation:sara 10s infinite alternate;
}
@keyframes sara{
    8%{
        color:#E30303;
    }
    16%{
        color:#FF8B00;
    }
    24%{
        color:#FEED01;
    }
    33%{
        color:#008127;
    }
    50%{
        color:#004DFF;
    }
    58%{
        color:#750688;
    }
    66%{
        color:#004DFF;
    }
    74%{
        color:#008127;
    }
    83%{
        color:#FEED01;
    }
    100%{
        color:#E30303;
    }
}
#first-sara_text > p{
    font-size:4px;
    margin-top:2em;
}
#homenaje{
    display:block;
    font-size:5px;
    color:#ccff00;
}
#sara-photos_container{
    display:flex;
    flex-direction:column;
}
.sara-photos{
    min-width:.1em;
    height:10em;
    margin-top:1em;
    border:5px solid #fff0c9;
}
#photos-sara_local{
    width:100%;
    height:15em;
    background-image:url("../../assets/images/cuadros-sara-small.webp");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}
#last-sara_container{
    display:flex;
    flex-direction:column;
    width:100%;
    height:35em;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}
#last-sara_text{
    width:90%;
}
#last-sara_text > h3, #last-sara_text > p{
    font-size:.1em;
    text-align:center;
    margin:1em;
}
#last-sara_text > p{
    margin-top:1em;
}
#youtube1, #youtube2{
    margin:1em;
    min-width:5em;
    max-width:10em;
    height:8em;
}

/* INSTAGRAM */

#instagram{
    width:100%;
    height:60em;
    display:flex;
    justify-content:center;
    background-image:url("../../assets/images/igBackgroundSmall.webp");
    background-size:cover;
    background-attachment:fixed;
    position:relative;
    z-index:55;
    overflow:hidden;
}
#ig_container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:100%;
    height:100%;
}
#shisha-girl{
    display:flex;
    order:0;
    border:5px solid #fff0c9;
    height:20em;
    min-width:1em;
    margin-top:5em;
}
#ig-text_container{
    display:flex;
    flex-direction:column;
    order:1;
    width:90%;
    height:40em;
    justify-content:center;
}
#ig-text_container > h3{
    font-size:1.2em;
    color:#f3f3f3;
    font-family:"Instagram";
    text-shadow:3px 1px 1px #ff1493;
    animation:instagram 3s infinite reverse;
}
@keyframes instagram{
    0%{
        text-shadow:3px 1px 1px #ff1493;
    }
    50%{
        text-shadow:3px 1px 1px #3300cc;
    }
    75%{
        text-shadow:3px 1px 1px #ccff00;
    }
    
}
#ig-text_container > p{
    font-size:1em;
    margin-top:1em;
}
#ig-text_container > p > a{
    font-family:"Instagram";
    font-size:1.2em;
    padding:0.5em 0.5em;
    color:#eb0a8d;
}
#ig-text_container > p > a:hover{
    color:#fff;
    text-shadow:3px 1px 1px #ff1493;
    animation:instagram 3s infinite reverse;
}
.ig-text{
    text-align:center;
}

/* SHIRTS */

#shirts{
    display:flex;
    justify-content:center;
    width:100%;
    height:15em;
    background-color:#380738;
    position:relative;
    z-index:60;
}
#shirts_container{
    display:flex;
    flex-direction:row;
    align-items:center;
}
#text-shirts > H4 , #text-shirts > p{
    color:#D267D8;
    font-size:.5em;
    text-align:center;
    animation:camisetas 3s infinite alternate-reverse;
}
@keyframes camisetas{
    0%{
        color:#D267D8;
    }
    25%{
        color:#ff1493;
    }
    50%{
        color:#ff0080;
    }
    75%{
        color:#cc0066;
    }
    100%{
        color:#e30052;
    }
}
#text-shirts > p{
    margin-top:.5em;
}
.camis{
    height:3em;
}

/* LOCATION */

#location{
    width:100%;
    height:60em;
    background-image:url("../../assets/images/mapa-mundi-small.webp");
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    position:relative;
    z-index:60;
}
#location_container{
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
}
#location-text-container{
    color:#fff;
    margin:0 1em 3em 1em;
}
#location-text-container > h3{
    font-size:.6em;
    text-align:center;
}
#location-text-container > p{
    font-size:.6em;
    margin-top:1em;
}
#location-text-container > p > a{
    color:#ff0088;
}
#location-text-container > p > a:hover{
    color:#dddd96;
}
#map{
    display:flex;
    margin-top:3em;
    margin-left:1em;
    margin-right:1em;
    min-width:2em;
    max-width:15em;
    height:9em;
}

/* CREDITS */

#footer{
    width:100%;
    height:10vh;
    background-color:#000;
    position:relative;
    z-index:60;
    overflow:none;
}
.credits-p{
    color:#fff;
    line-height:10vh;
    text-align:center;
    font-size:.1em;
}
.credits-p > a{
    color:#ff009d;
}
.credits-p > a:hover{
    color:#85074a;
}